asn1crypto==0.24.0
beautifulsoup4==4.6.0
chardet==3.0.4
cliapp==1.20170827
cmdtest==0.32
cryptography==2.1.4
enum34==1.1.6
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lxml==4.2.1
Markdown==2.6.9
mysql-connector-python==2.1.6
mysql-utilities==1.6.4
numpy==1.13.3
paramiko==2.0.0
pbr==4.0.2
pexpect==4.2.1
pyasn1==0.4.2
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyodbc==4.0.17
pysqlite==2.7.0
pyxdg==0.25
PyYAML==3.12
scour==0.36
SecretStorage==2.3.1
six==1.11.0
stevedore==1.28.0
ttystatus==0.38
unity-lens-photos==1.0
vboxapi==1.0
virtualenv==15.2.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
webencodings==0.5
