

{% extends "base.html" %}
{% block content %}





  <h1 class="title">TABLE</h2>
  <!-- <input id="myInput" type="text" placeholder="Search.."> -->
  <input id="idcol" type="text" name="" placeholder="id">
  <br>
  <br>
  <input id="name" type="text" name="" placeholder="name">
  <br>
    <br>
  <input id="city"  type="text" name="" placeholder="city">
  <br>
    <br>
  <input id="country" type="text" name="" placeholder="country">
  <br>
    <br>
  <button class="btn-primary" type="button" name="button" onclick="saveUser()" id="demo">SAVE USER</button>

    <br>
    <br>

    <select id="country_cb" ><

      </select>

      <select id="city_cb" >
        <option value="sad">adsdsadsa</option>

      </select>



  <table class="table" id="my_table">
  <thead>
    <tr id="header">
      <th scope="col">id</th>
      <th scope="col">name</th>,
      <th scope="col">city:</th>
      <th scope="col">country:  </th>

    </tr>
  </thead>
  <tbody id="table">
  </tbody>
  </table



    </div>
  </div>







{% endblock %}
